<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Создать дисциплину</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
</head>
<body>
<div class="container mt-5 text-center">
    <a class="text-align-left d-flex text-decoration-none text-reset" href="/main">На главную</a>
    <a class="text-align-left d-flex text-decoration-none text-reset" href="/showDiscipline">Назад</a>
</div>
<div class="container mt-5">
    <div class="col-md-5 mx-auto">
        <h2 class="text-center my-3">Добавить дисциплину</h2>
        <form action="/addDiscipline" method="post">
            <div>
                <div>
                    <input name="discipline" type="text" class="form-control" placeholder="Дисциплина">
                </div>
                <div class="mb-3">
                    <label class="form-label"></label>
                    <input type="submit" class="form-control btn btn-primary" value="Добавить">
                </div>
            </div>
        </form>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
</body>
</html>