<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Авторизация</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
</head>
<body>
<head>
  <div class="container mt-5">
    <form action="/logout" method="get">
      <div class="container">
        <div class="col-md-3 mx-auto">
          <h3 class="text-center my-3">Авторизация</h3>
          <form action="/logout" method="get">
            <input type="hidden" name="">
            <div class="row">
              <div class="mb-3 col-sm-50">
                <div class="mb-2">
                  <input  type="text" class="form-control" placeholder="Логин">
                </div>
                <div>
                  <input  type="text" class="form-control" placeholder="Пароль">
                </div>
              </div>
              <div class="mb-3">
                <input type="submit" class="form-control btn btn-primary" value="Войти">
              </div>
          </form>
        </div>
      </div>
    </form>
  </div>
</head>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
</body>
</html>